{% extends 'base.html' %}
{%load static%}
{% block title %} | Office{% endblock title %}
{% block menu %}
<li class="header__el header__el--blue"><a href="logout"  class="btn btn--white">Logout →</a></li>   
{% endblock menu %}
{% block content %}

<style>
    #datat {border-collapse: collapse;width: 800%; margin-left:10%;margin-right:10% ; }    
    #datat td, #datat th {border: 1px solid #ddd;padding: 8px;}    
    #datat tr:nth-child(even){background-color: #f2f2f2;}    
    #datat tr:hover {background-color: #ddd;}    
    #datat th {padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #d9edfe;color: black;}
</style>
<div class="container">
<table>
    <thead id="datat">
            <tr>
            <th> ID</th>
            <th> Name</th>
            <th>Email</th>
            <th>Contact No.</th>
            <th>Message</th>      
           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for Topics in Contactus %}
        <tr>
            <td>{{ Topics.id }}</td>
            <td>{{Topics.First_Name}} {{Topics.Last_Name}}</td>
            <td>{{Topics.Email}}</td> 
            <td>{{Topics.Contact}}</td> 
            <td>{{Topics.Message}}</td>           
           
        </tr>
        {% endfor %}
    </tbody>
</table>
<span><span><span><span><span><span><span><span><span><span><span>
<table>
    <thead id="datat">
            <tr>
            <th>Topics ID</th>
            <th>Topics Name</th>           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for Topics in Topic %}
        <tr>
            <td>{{ Topics.id }}</td>
            <td>{{Topics.Title}}</td>           
            <td>
                <a  href="/edit/{{ Topics.id }}">Edit</a>
                <a href="/delete/{{Topics.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}