{% extends 'base.html' %}
{% block title %} | Area{% endblock title %}

{% block content %}
<div class="sect sect--white">
    <div class="container">
      <div class="row">
       <h1 class="row__title">
        Our Area
      </h1>
      <h2 class="row__sub">Sneak peeks from our writings</h2>
      </div>
      
      <div class="row row--margin">
        <div class="col-md-6 article-pre__col">
          <a href="#" class="article-pre ">
            <div class="article-pre__img article-pre__img--first"></div>
            <h2 class="article-pre__info">
              <span class="article-pre__cat">Protips • </span><span class="article-pre__aut"> by Ann Timothy</span> <span class="article-pre__date"> - 5 mins read</span>
            </h2>
            <h1 class="article-pre__title">How to improve analytics using few tools in Bricks<span class="article-pre__arrow--purple"> →</span></h1>
          </a>
        </div>
        
            <div class="col-md-6 article-pre__col">
          <a href="#" class="article-pre ">
            <div class="article-pre__img article-pre__img--second"></div>
            <h2 class="article-pre__info">
              <span class="article-pre__cat">Pricing • </span><span class="article-pre__aut"> by Josh Ford</span> <span class="article-pre__date"> - 5 mins read</span>
            </h2>
            <h1 class="article-pre__title">Rich Thornett & Dan Coderholm about Dribbble in early 2009<span class="article-pre__arrow--purple">→</span></h1>
          </a>
        </div>    
     </div>
      <div class="row">
         <div class="col-md-6 article-pre__col">
          <a href="#" class="article-pre ">
            <div class="article-pre__img article-pre__img--fourth"></div>
            <h2 class="article-pre__info">
              <span class="article-pre__cat">Success Stories • </span><span class="article-pre__aut"> by Andrew Lincoln</span> <span class="article-pre__date"> - 5 mins read</span>
            </h2>
            <h1 class="article-pre__title">Steward Butterfield told us about his startup Slack<span class="article-pre__arrow--purple"> →</span></h1>
          </a>
        </div>
        
            <div class="col-md-6 article-pre__col">
          <a href="#" class="article-pre ">
            <div class="article-pre__img article-pre__img--third"></div>
            <h2 class="article-pre__info">
              <span class="article-pre__cat">Protips • </span><span class="article-pre__aut"> by Ann Timothy</span> <span class="article-pre__date"> - 5 mins read</span>
            </h2>
            <h1 class="article-pre__title">How to improve analytics using few tools in Bricks<span class="article-pre__arrow--purple"> →</span></h1>
          </a>
        </div>     
      </div>
    </div>
    </div>
    
{% endblock content %}